<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <servlet>
    <servlet-name>hii</servlet-name>
    <servlet-class>com.login.Login</servlet-class>
  </servlet>
  <servlet>
  
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>com.login.DownloadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>bye</servlet-name>
    <servlet-class>com.login.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hii</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/DownloadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>bye</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
</web-app>